.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
	text-align: center;
}

table {
	margin: 20px auto;
  width: 600px;
  height: 800px;
	
	border-collapse: collapse;
}

td {
	padding: 10px;
	border: 1px solid rgb(76, 95, 203);
}

.buttons {
	margin: 20px 0;
}

button {
	margin: 0 10px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}
